html,
body {
  height: 200px;
  width: 200px;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 10px;
  color: #333;
  background-color: #f4f4f4;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container1 {
  height: 40%;
}

.container2 {
  height: 60%;
}

h1 {
  margin: 1em 0 0 1em;
  font-size: 1.5em;
  color: #333;
  align-self: left;
}

.grade {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: xx-large;
  padding-top: 0.5em;
}

.list-title {
  padding-bottom: 0.5em;
}

ul {
  overflow: auto;
  margin: 0;
  padding: 0;
}

li {
  margin: 2px 0 0 4em;
  font-size: 1.2em;
  list-style-image: url('images/triangle.svg');
}

/* colors for the grading system */

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}
